{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">


</head>
<body>

<div class="site">

    <header>

        {% include 'base/header/header.html' %}

    </header>

    <main>

        {% block content %}
        {% endblock %}

    </main>

    <footer>

        {% include 'base/footer/footer.html' %}

    </footer>

    {% block scripts %}

    {% endblock %}

</div>

</body>
</html>