{% load static %}
<div id="home-bottom-section">
    
    <img src="{% static 'images/standards.png' %}">

    <div id="home-bottom-roadmap-section">

        <div id="roadmap-text-section">

            <h1>От идея до реализация</h1>
            <p>Очакваме ви ,за да минем пътя заедно ,който ще ни заведе до вашето онлайн присъствие.</p>
            
            <div id="roadmap-buttons-section">
                
                <button onclick="" id="road-map-link-button">Цени и услуги</button>
                <button onclick="" id="contacts-link-button">Контакти</button>
                
            </div>

        </div>

    </div>

</div>

