{% load static %}
<div id="standards-section-wrapper">

    <div id="standards-section">

        <div id="standards-heading-section">

            <h2>Нашите стандарти</h2>
            <p>Основните принципи, които следваме, за да направим твоя сайт успешен.</p>

        </div>

        <div id="standards-section">

            <div id="standard-home-section">

                <div id="standards-home-background"><img src="{% static 'images/home-background.png' %}"></div>

                <div id="standard-left-container">

                    <div id="standard-home"><img src="{% static 'images/standard-home.png' %}"></div>

                </div>

                <div id="standard-right-container">

                    <div id="standard-right-text-container">

                        <h3>Начална страница (home)</h3>
                        <p>Началната станица на сайта ви е първото нещо което клиента вижда за вас, от тази страница
                            зависи дали ще остане и ще иска да остане и да работи с вас.</p>

                    </div>

                </div>

            </div>

            <div id="standards-auth-section">

                <div id="standards-auth-background"><img src="{% static 'images/auth-background1.png' %}"></div>


                <div id="standard-auth-left-container">

                    <div id="standard-auth-left-text-container">

                        <h3>Регистрация и логин </h3>
                        <p>Ние разбираме ,че тази стъпка е най-неприятната за всеки потребител. Заради това се грижим да
                            бъде възможно най- бърза, лесна и с красив дизайн ,за да може потребителя да се чувства
                            комфортно в тази страница. (Ако твоя сайт е тип бизнес-картичка няма да има нужда от тази
                            стъпка)</p>

                    </div>

                </div>

                <div id="standard-auth-right-container">

                    <div id="standard-auth"><img src="{% static 'images/auth-image.png' %}"></div>

                </div>


            </div>

        </div>

    </div>

</div>
