{% load static %}
<div id="welcoming-section-wrapper">

    <div id="welcoming-section">

        <div id="welcoming-left-container">

            <div id="left-text-container">

                <h1>Ти и твоята мечта в интернет.</h1>
                <p>От твоята идея до твоя нов сайт!</p>
                <a href="#">Старт!</a>

            </div>

        </div>

        <div id="welcoming-right-container">


        </div>

    </div>

</div>

<style>
    #welcoming-section-wrapper {
        background-image: url("{% static 'images/home-background.jpg' %}");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
    }
</style>