#location-wrapper {
    width: 100%;
    height: 30em;
    margin-bottom: 2em;
}

#location-section {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#location-section iframe {
    border-radius: 25px;
    width: 100%;
    height: 100%;
}