{#{% load static %}#}
{##}
{#<div id="contacts-wrapper">#}
{##}
{#    <div id="contacts-section">#}
{##}
{#        <h1>Свържете се с нас</h1>#}
{##}
{#        <div id="contacts-options-container">#}
{##}
{#            <div class="option-container">#}
{##}
{#                <div class="option-image"><img src="{% static 'images/phone-contacts.png' %}"></div>#}
{##}
{#                <div class="option-text">#}
{##}
{#                    <h3>Телефон</h3>#}
{#                    <a href="tel:+359892907007">+359892907007</a>#}
{##}
{#                </div>#}
{##}
{#            </div>#}
{##}
{#            <div class="option-container">#}
{##}
{#                <div class="option-image"><img src="{% static 'images/mail.png' %}"></div>#}
{##}
{#                <div class="option-text">#}
{##}
{#                    <h3>Имейл</h3>#}
{#                    <a href="mailto:webstudio28@gmail.com">webstudio28@gmail.com</a>#}
{##}
{#                </div>#}
{##}
{#            </div>#}
{##}
{#            <div class="option-container">#}
{##}
{#                <div class="option-image"><img src="{% static 'images/location.png' %}"></div>#}
{##}
{#                <div class="option-text">#}
{##}
{#                    <h3>Адрес</h3>#}
{#                    <p style="text-align: center">Бул. Васил Априлов 49, гр. Пловдив</p>#}
{##}
{#                </div>#}
{##}
{#            </div>#}
{##}
{#        </div>#}
{##}
{#    </div>#}
{##}
{#</div>#}


