{% load static %}
<div id="contacts-and-form-wrapper">
    
    <div id="contacts-background"><img src="{% static 'images/contacts.bg1.jpg' %}"></div>

    <div id="contacts-wrapper">

        <div id="contacts-section">
            
            <h1>Контакти</h1>

            <div id="contact-types-container">

                <div class="contact-type">

                    <h3>Адрес</h3>
                    <p>Бул. Васил Априлов 49, гр. Пловдив</p>

                </div>

                <div class="contact-type">

                    <h3>Телефон</h3>
                    <a href="tel:+359892907007">+359892907007</a>

                </div>

                <div class="contact-type">

                    <h3>Имейл</h3>
                    <a href="mailto:webstudio28@gmail.com">webstudio28@gmail.com</a>

                </div>

            </div>

        </div>
        
    </div>

    <div id="contact-form-wrapper">

        <form id="contact-form">
            <input type="text" id="name" name="name" required placeholder="Име и фамилия">
            
            <input type="email" id="email" name="email" required placeholder="Имейл">
            
            <textarea id="message" name="message" rows="4" required placeholder="Съобщение" maxlength="1000"></textarea>

            <button type="submit">Изпрати</button>
            
        </form>

    </div>
    
</div>

