<div id="meeting-wrapper">
    
    <div id="meeting-section">
        
        <h2>Безплатна консултация</h2>
        
        <div id="meeting-options">
            
            <div class="meeting-text">
                
                <p>Запишете час за безплатна консултация в нашия офис или в Google Meet</p>
                
            </div>
            
            <div class="meeting-card">
                
                <img src="">
                
            </div>
            
        </div>
        
    </div>
    
</div>