{% load static %}
<div id="team-wrapper">
    
    <div id="team-section">
        
        <div id="team-heading-section">
            
            <h2>Екип</h2>
            <p>Ние сме семейство и като семейство ще подхождаме към вас.</p>
            
        </div>
        
        <div id="team-cards">
            
            <div class="member-card">
                
{#                <div id="member-card-background"><img src="{% static 'images/member card bg2.png' %}"></div>#}
                
                <div class="member-card-left-container">
                    
                    <div class="member-card-image"><img src="{% static 'images/andon.jpg' %}"></div>
                    
                </div>
                
                <div class="member-card-right-container">
                    
                    <div class="member-card-heading-section">
                        
                        <h3>Андон Гошев</h3>
                        <p>Основател и CEO</p>
                        
                    </div>
                    
                    <div class="member-card-secondary-section">
                        
                        <p><span>Софтуерен инжинер</span> с 3 години опит. Най-силни страни - Frond end and website layouting, Database моделиране.</p>
                        
                        <div class="member-tech-stack-section">
                            <p>Умения:</p>
                            
                            <ul>
                                
                                <li><img src="{% static 'images/python.png' %}"></li>
                                <li><img src="{% static 'images/django.png' %}"></li>
                                <li><img src="{% static 'images/postgres.png' %}"></li>
                                <li><img src="{% static 'images/html.png' %}"></li>
                                <li><img src="{% static 'images/css.png' %}"></li>
                                <li><img src="{% static 'images/javascript.png' %}"></li>
                                
                            </ul>
                            
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
            
            <div class="member-card">
                
{#                <div id="member-card-background"><img src="{% static 'images/member-card-bg.png' %}"></div>#}
                
                <div class="member-card-left-container">
                    
                    <div class="member-card-image"><img src="{% static 'images/vasilena.jpg' %}"></div>
                    
                </div>
                
                <div class="member-card-right-container">
                    
                    <div class="member-card-heading-section">
                        
                        <h3>Василена Николова</h3>
                        <p>Основател</p>
                        
                    </div>
                    
                    <div class="member-card-secondary-section">
                        
                        <p><span>Графичен дизайнер</span> с над 5 години опит. Най-силни страни - превръща сивото в цветно.Плюс оща малко текст.</p>
                        
                        <div class="member-tech-stack-section">
                            <p>Умения:</p>
                            
                            <ul>
                                
                                <li><img src="{% static 'images/photoshop.png' %}"></li>
                                <li><img src="{% static 'images/illustrator.png' %}"></li>
                                <li><img src="{% static 'images/canva.png' %}"></li>
                                <li><img src="{% static 'images/figma.png' %}"></li>
                                <li><img src="{% static 'images/procreate.png' %}"></li>
                                
                            </ul>
                            
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        
    </div>
    
</div>