{% load static %}
<div id="work-road-wrapper">
    
    <div id="work-road-section">
        
        <div id="work-road-text-container">
            
            <h2>Процес на работа</h2>
            <p>Процеса през ,който ще минем заедно ,за да построим вашата мечта в интернет.</p>
            
        </div>
        
        <div id="work-road-cards-section">
            
            <div class="work-road-card">
                
                <div class="work-road-card-image"><img src="{% static 'images/idea.jpg' %}"></div>
                
                <div class="work-road-card-text">
                    
                    <h3>Запознаване с идеята</h3>
                    
                </div>
                
            </div>
            
            <div class="work-road-card">
                
                <div class="work-road-card-image"><img src="{% static 'images/project.png' %}"></div>
                
                <div class="work-road-card-text">
                    
                    <h3>Проект</h3>
                    
                </div>
                
            </div>
            
            <div class="work-road-card">
                
                <div class="work-road-card-image"><img src="{% static 'images/ready-product.jpg' %}"></div>
                
                <div class="work-road-card-text">
                    
                    <h3>Готов продукт</h3>
                    
                </div>
                
            </div>
            
        </div>
        
    </div>
    
</div>