<div id="footer-wrapper">

    <div id="footer-first-row">

        <nav id="footer-left-nav">

            <h5>Links</h5>

            <ul id="footer-left-list">

                <li>some link</li>
                <li>some link</li>
                <li>some link</li>
                <li>some link</li>

            </ul>

        </nav>

        <nav id="footer-right-nav">

            <h5>Links</h5>

            <ul id="footer-right-list">

                <li>some link</li>
                <li>some link</li>
                <li>some link</li>
                <li>some link</li>

            </ul>

        </nav>

    </div>

    <div id="footer-second-row">

        <p>© 2025 Web Studio 28. All rights reserved.</p>

    </div>

</div>