#features-wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

#features-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.feature-card {
    padding: 1em;
    width: 20%;
    min-height: 17em;
    background-color: #F9F7F7;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
     border: 1px solid #dfdede;
}

.feature-icon-container {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border: 1px solid #dfdede;
}

.feature-icon {
    width: 5em;
    height: 5em;
}

.feature-icon img {
    width: 100%;
    height: 100%;
}

/*.feature-text {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: flex-start;*/
/*    height: 50%;*/
/*}*/

#simple-complex-container {
    margin-top: 3em;
    width: 100%;
    height: 20em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.simple-complex-card {
    height: 100%; /* Fixed height */
    width: 40%;
    overflow-y: auto; /* Allow scrolling */
    position: relative;
    border-radius: 25px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    border: 2px solid #c3c2c2;
}

/* Hide scrollbar for WebKit browsers */
.simple-complex-card::-webkit-scrollbar {
    display: none;
}

/* Optional: Hide scrollbar for Firefox */
.simple-complex-card {
    scrollbar-width: none;
}

/* Image settings */
.simple-complex-image img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.simple-complex-text-container {
    width: 100%;
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translateX(-50%);
}