<div id="pricing-options-wrapper">
    
    <div id="pricing-options-section">
        
        <div id="pricing-cards">
            
            <div class="pricing-card">
                
                <div class="pricing-card-title">
                    
                    <h2>Бейсик</h2>
                    
                </div>
                
                <div class="pricing-card-heading">
                    
                    <h3>900лв</h3>
                    <p>Представете бизнеса си в няколко страници. </p>
                    
                </div>
                
            </div>
            
        </div>
        
    </div>
    
</div>