{% load static %}
<div id="pricing-hero-wrapper">

    <div id="pricing-hero-container">

        <div id="pricing-hero-left-container">

            <div id="pricing-heading-container">

                <h1>Цени и услуги</h1>
                <p>Изберете най-подходящата опция за вашите цели.</p>

            </div>

        </div>
        
        <div id="pricing-hero-right-section">
            
            <div id="pricing-hero-image">

                <img src="{% static 'images/pricing-hero1.gif' %}"></img>

            </div>
            
        </div>

    </div>

</div>


