<div id="pricing-options-wrapper">

    <div id="pricing-options-section">

        <div id="pricing-cards">

            <div class="pricing-card">

                <div class="pricing-card-title">

                    <h2>Статичен уебсайт</h2>

                </div>

                <div class="pricing-card-heading">

                    <h3>900лв</h3>
                    <p>Идеален за малки бизнеси и лични сайтове.</p>

                </div>

                <div class="pricing-card-features">

                    <p>✅ До 5 страници </p>
                    <p>✅ Респонсив дизайн </p>
                    <p>✅ Написан от нулата </p>
                    <p>✅ Базова SEO оптимизация </p>
                    <p>✅ Контактна форма </p>
                    <p>✅ Социални мрежи </p>

                </div>

            </div>

            <div class="pricing-card">

                <div class="pricing-card-title">

                    <h2>Динамичен уебсайт</h2>

                </div>

                <div class="pricing-card-heading">

                    <h3>1300лв</h3>
                    <p>За тези, които искат повече контрол и съдържание.</p>

                </div>

                <div class="pricing-card-features">

                    <p>✅ Всичко от първия план</p>
                    <p>✅ До 10 страници</p>
                    <p>✅ Галерия (снимки/видеа)</p>
                    <p>✅ Админ панел</p>
                    <p>✅ Статистики за сайта</p>

                </div>

            </div>

            <div class="pricing-card">

                <div class="pricing-card-title">

                    <h2>Индивидуален</h2>

                </div>

                <div class="pricing-card-heading">

                    <h3></h3>
                    <p>Персонализирани уеб решения за бизнеси.</p>

                </div>

                <div class="pricing-card-features">

                    <p>✅ Админ панели & CRM</p>
                    <p>✅ E-commerce магазини</p>
                    <p>✅ Уеб приложения</p>
                    <p>✅ Персонализирани интеграции</p>
                    <p>✅ Чатбот & API свързаност</p>
                    <p>✅ Пълен контрол и мащабируемост</p>

                </div>

            </div>


        </div>

    </div>

</div>