<div id="pricing-hero-wrapper">
    
    <div id="pricing-hero-container">
        
        <div id="pricing-heading-container">
            
            <h1>Цени и услуги</h1>
            <p>Изберете най-подходящата опция за вашите цели.</p>
            
        </div>
        
        <div id="pricing-action-section">
            
            <div id="pricing-action-buttons-section">
                
                <button>Контакти</button>
                <button>Консултация в нашия офис</button>
                
            </div>
            
        </div>
        
    </div>
    
</div>