{% extends 'base/base.html' %}

{% block title %}
    Услуги
{% endblock %}

{% block content %}

    <div id="pricing-wrapper">

        {% include 'common/pricing/pricing-hero.html' %}
        
        <div id="hand-written-wrapper">
            
            <div id="hand-written-section">
                
                <h2>Всички сайтове са написани ръчно, за да гарантираме персонален и уникален изглед!</h2>
                
            </div>
            
        </div>

        {% include 'common/pricing/pricing-options.html' %}
    
        {% include 'common/pricing/actions-section.html' %}

    </div>


{% endblock %}